.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container header {
    margin: 50px 0 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container header h1 {
    font-size: 27px;
    width: 50%;
}

.container header img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 3px;
}

.container header div {
    margin: 20px 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    font-size: 13px
}

.container header div strong {
    width: 60%;
}

.container input {
    width: 50%;
    padding: 24px;

    background: #e6e6e6;
    border-radius: 5px;
    border: none;

    font-size: 16px;
}

.container button {
    width: 50%;
    padding: 24px;
    font-weight: 700;
    font-size: 16px;
    
    background: #ea4c89;
    color: #ffffff;

    border-radius: 5px;
    margin: 12px 0 84px;
    border: none;

    cursor: pointer;
    transition: filter 0.2s;
}

.container button:hover {
    filter: brightness(0.8);
}